/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Variables
# Desktop
# Tablet
# Phone
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Desktop
--------------------------------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    min-width: 1024px; }

  .row {
    max-width: 1024px; } }
/*--------------------------------------------------------------
# Tablet
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Phone
--------------------------------------------------------------*/
@media only screen and (max-width: 385px) {
  body {
    min-width: 385px; }

  body .row {
    width: auto; } }
